body{
  font-family: Poppins;
  font-size: 25px;
  background-image: url(https://c.wallhere.com/photos/b0/e9/alone_stars_purple_background-1964895.jpg!d);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #CCCCCC;
  padding-top: 20px;
  width: 100%;
  height: 100vh;  
  margin: 0;
}

form{
  min-width: 40px;
  max-width: 1000px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border: 3px double white;
  background-color: #54569EC2;

}

fieldset{
  border: 1px dotted white;
  border-top: 0;
  border-right:0;
  border-left:0;
}

fieldset:last-of-type{
  text-align: center;
}

h1,p,h2{
  text-align: center;
}

h1{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}

h2{
  margin: 10 0 15 0;
}

label{
  display: block;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px;
  text-align: center;
}

input[type="text"],input[type="number"],input[type="email"],textarea, select{
  font-size:25px;
  width:50%;
  margin: auto;
  background-color: #3f417566;
  color:#CCCCCC;
  display: block;
  text-align: center;
  border: 2px dotted white;
}

input[type="text"]:hover,input[type="number"]:hover,input[type="email"]:hover,textarea:hover, select:hover{
  border-style: dashed;
}


input[type="checkbox"],input[type="radio"]{
  vertical-align: middle;
  margin-right: 10px;
}

select{
  color:#CCCCCC;
}

select option[value=""]{
  color:#CCCCCC;
}


textarea{
  width:80%;
  border: 2px dotted white;
  font-size: 15px;
  margin-bottom: 15px;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus,textarea:focus, select:focus{
  border: 3px solid white;
  outline: none;
}

::placeholder {
  color: #888888;
  opacity: 1; /* Firefox */
}

.placetext{
  color: 888888;
}

.normtext{
  color: #CCCCCC;
}

.submit{
  font-size: 20px;
  padding: 7px;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Poppins;
  background-color: #3f417566;
  border-color: white;
  border-style: dotted;
  color: white;
}

.submit:hover{
  border-style: dashed;
}
